
#header {
    background-color: #000000;
    color: white;
    /* first number = up and down, second = left and right */
    padding: 10px 20px;
}

#header h1{
    margin: 0px;
}

#header ul {
    list-style: none;
    padding: 0px;
    overflow: hidden;
}

#header li {
    float: left;
    /* 0=Up, 0=Right, 0=Down, 0=Left */
    padding: 0 15px 0 0;
}

#header ul a {
    color: #ffffff;
    text-decoration: none;
}

#header ul a:hover {
    color: #ff9999;
}

#content {
    padding: 20px;
}

.two-columns img, .two-columns p {
    float: left;
    width: 40%;
}

#content img {
    width: auto;
    height: 300px;
}

.two-columns p {
    margin: 0 20px;
}

#content form {
    clear: both;
}

#content form [type=text], #content form [type=email], #content form textarea {
    display: block;
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
    border: 0;
    background-color: #efefef;
    color: #666666;

}

#content table tr{
    background-color: #ccc;
}

#content table tr:nth-child(even) {
    background-color: #efefef;
}

#content table tr:nth-child(odd) {
    background-color: #D18B00;
}

#content table tr>* {
    /* the symbol > meaning one level under all 'tr' */
    padding: 3px 10px;
    border-bottom: 1px solid #666;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

table {
    border: 1px solid #ccc;
}
