
#header {
    background-color: #000000;
    color: white;
    /* first number = up and down, second = left and right */
    padding: 10px 20px;
}

#header h1{
    margin: 0px;
}

#header ul {
    list-style: none;
    padding: 0px;
    overflow: hidden;
}

#header li {
    float: left;
    /* 0=Up, 0=Right, 0=Down, 0=Left */
    padding: 0 15px 0 0;
}

#header ul a {
    color: #ffffff;
    text-decoration: none;
}

#header ul a:hover {
    color: #ff9999;
}

#content {
    padding: 20px;
}

#content img, #content p {
    float: left;
    width: 40%;

}

#content img {
    width: auto;
    height: 300px;
}

#content p {
    margin: 0 20px;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
